@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containner{
    max-width: 720px;
    height: auto;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}
body{
    background-color: #6A9C89;
    display: flex;
    justify-content: center;
}
.header{
    padding: 10px;
}
img{
    height: auto;
    max-width: 100%;
    width: 675px;
    border-radius: 20px;
    border:2px white;
}
.main-box{
    padding: 1px;
    margin-left: 10px;
    background: #C4DAD2;
    border-radius: 10px;
    max-width: 675px;
    padding-left: 10%;
}
.main{
    margin-bottom: 10px;
    margin-left: 10px;
}
.box1{
    margin-left: 20px;
}
hr{
    margin-left: 10px;
    margin-right: 10px;
}
.attribution{
    font-size: 11px; text-align: center;

}
.list{
    padding-left: 5px;
}

@media only screen and (max-width:600px) {

    .containner{
        border-radius: 0;
    }
    .main-box{
        margin-right: 10px;
    }

}

@media only screen and (min-width:601px) and (max-width:720px) {

    .containner{
        border-radius: 0;
    }

    .main-box{
        margin-right: 10px;
    }

}